@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
.top{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(700px at right 800px);
    transition: 0.5s;
}
.left__circle{
    position: absolute;
    top: 70vh;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(200px at right 300px);
    transition: 0.5s;
    transform: scaleX(-1);
}
.left__circle2{
    position: absolute;
    top: 69vh;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #017143;
    clip-path: circle(200px at right 300px);
    transition: 0.5s;
    transform: scaleX(-1);
    z-index: 999;
}
.nav{
    z-index: 100;
    background-color: #017143;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .logo{
    position: fixed;
    top: 0;
    max-width: 80px;
}
.img__logo{
    position: relative;
    top: 0;
    max-width: 60px;
}
.nav__list{
    display: flex;
    position: relative;   
}
.list__items{
    list-style: none;
}
.a{
    position: relative;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    transition: 0.5s;
}
.a:hover::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #017143;
}
.a::before{
    width: 0%;
    content: "";
    transition: 0.5s;
}
.content{
    margin-top: 4rem;
    margin-left: 8rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}
.content .text__big{
    position: relative;
    max-width: 600px;
}
.content .text__big h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
}
.content .text__big h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
    transition: 0.5s;
}
.text__small{
    color: #333;
}
.learn__more{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
}
.learn__more:hover{
    background-color: #06955a;
}
.img__content{
    margin-bottom: -105px;
    max-width: 540px;
}
.imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.thumb{
    width: 100%;
    position: absolute;
    bottom: 15px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}

/* Menu */

.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    margin-top: 120px;
}
.menu h1{
    text-align: center;
}
.container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_images{
    width: 130px;
    height: 131px;
}

/* Footer */ 

footer{
    margin-top: 100px;
    width: 100%;
    color: #000;
    border-top: solid 1px #023;
}
.imageFooter{
    max-width: 80px;
}
.footer_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}
.footer_contex h1{
    margin-bottom: 0.75rem;
}
.social_media i{
    font-size: 1.6rem;
}
.social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    color: white;
}
.social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid black;
    transition: 0.3s;
}
.social_media .footer-link:hover{
    border: 1px solid rgba(0, 0, 0, 0.267);
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-list a{
    text-decoration: none;
    color: #000;
}

.footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.input-footer{
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.input-footer input{
    all: unset;
    border: 1px solid black;
    padding: 0.75rem;
    width: 100%; 
}
.input-footer button{
    margin-left: 10px;    
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0.75rem;
    font-weight: 100;
}
.copy{
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 980px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (max-width: 768px) {
    .footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
@media screen and (max-width: 426px) {
    .footer_content{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}@media(max-width: 1385px){
    .menu{
        margin-top: 250px;
    }
    .nav{
        padding: 20px;
    }
    .logo{
        max-width: 60px;
    }
    .nav ul{
        display: none;
    }
    .circle{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: circle(300px at center bottom);
    }
    .content{
        flex-direction: column;
        margin-top: 100px;
        margin-left: -5rem;
        padding: 20px 20px 20px;    
    }
    .content .text__big h2{
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .content .text__big{
        max-width: 100%;
    }
    .content .imgBox{
        width: 100%;
        justify-content: center;
    }
    .content .imgBox img{
        max-width: 250px;
    }
    .imgBox{
        margin-top: 10px;
    }
    .thumb li img{
        max-width: 40px;
    }
    .thumb{
        bottom: -210px;
    }
    .left__circle2{
        display: none;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
    }
@media(max-width: 940px){
        .circle{
            clip-path: circle(300px at center bottom);
        }
        .imgBox{
            margin-top: 100px;
        }
    }
}
@media(max-width: 617px){
    .thumb{
        bottom: -12rem;
        left: 0rem;
    }
}